# 负载均衡
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: kodexplorer
spec:
  rules:
  - host: xip.io
    http:
      paths:
        - backend:
            serviceName: kodexplorer
            servicePort: http
---
kind: Service
apiVersion: v1
metadata:
  name: kodexplorer
spec:
  selector:
    app: kodexplorer
  type: ClusterIP
  ports:
    - protocol: TCP
      port: 80
      name: http
      targetPort: 80
---
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kodexplorer
  labels:
    app: kodexplorer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kodexplorer
  template:
    metadata:
      labels:
        app: kodexplorer
    spec:
      containers:
        - name: kodexplorer 
          image: "yangxuan8282/kodexplorer"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
          ports:
          - containerPort: 80
            name: http
            protocol: TCP
          volumes:
          - name: backups
            persistentVolumeClaim:
              claimName: {{ include "lecex.fullname" . }}-mysqldump
