---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: phpmyadmin
  labels:
    app: phpmyadmin
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: phpmyadmin
  template:
    metadata:
      labels:
        app: phpmyadmin
    spec:
      containers:
        - name: phpmyadmin 
          image: "phpmyadmin/phpmyadmin"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: PMA_HOST
              value: {{ include "lecex.fullname" . }}-mariadb
            - name: UPLOAD_LIMIT
              value: 500M
          ports:
          - containerPort: 80
            hostPort: 35217
            name: http
            protocol: TCP
