kind: Service
apiVersion: v1
metadata:
  name: user
spec:
  selector:
    app: user
  type: ClusterIP
  ports:
    - protocol: TCP
      port: 8080
      name: http
      targetPort: 8080
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: user
  labels:
    app: user
spec:
  {{ if .Values.user.replicaCount }}
  replicas: {{ .Values.user.replicaCount }}
  {{ else }}
  replicas: {{ .Values.replicaCount }}
  {{ end }}
  selector:
    matchLabels:
      app: user
  template:
    metadata:
      labels:
        app: user
    spec:
      serviceAccountName: micro-services
      imagePullSecrets:
      - name: pipeline-docker-registry
      containers:
        - name: user
          image: "{{ .Values.user.image.repository }}:{{ .Values.user.image.tag }}"
          imagePullPolicy: {{ .Values.user.image.pullPolicy }}
          command: [
            "user",
            "--server_address=:8080",
          ]
          env:
            - name: ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: admin-password
                  name: lecex
            - name: APP_KEY
              valueFrom:
                secretKeyRef:
                  key: app-key
                  name: lecex
            - name: TOKEN_VALIDITY_PERIOD # token 过期时间15天
              value: "15"
            - name: DB_HOST
              value: "{{ include "lecex.fullname" . }}-mariadb"
            - name: DB_USER
              value: "root"
            - name: DB_NAME
              value: "user"
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: mariadb-root-password
                  name: {{ include "lecex.fullname" . }}-mariadb
            - name: MICRO_REGISTRY
              value: "k8s"
          ports:
          - containerPort: 8080
            name: http
            protocol: TCP
        - name: health
          image: microhq/health:kubernetes
          command: [
            "/health",
            "--health_address=0.0.0.0:8081",
            "--server_name=user",
            "--server_address=0.0.0.0:8080"
          ]
          livenessProbe:
            httpGet:
              path: /health
              port: 8081
            initialDelaySeconds: 3
            periodSeconds: 3
