  
###########################################################
###################### General Setup ######################
###########################################################

### Docker Host IP ########################################

# Enter your Docker Host IP (will be appended to /etc/hosts). Default is `10.0.75.1`
DOCKER_HOST_IP=host.docker.internal

# Choose storage path on your machine. For all storage systems
DATA_PATH_HOST=~/.lece/data

# All Networks driver
NETWORKS_DRIVER=bridge


###########################################################
################ Containers Customization #################
###########################################################

### WORKSPACE #############################################
WORKSPACE_TIMEZONE=UTC

### MYSQL #################################################

MYSQL_VERSION=5.7
MYSQL_DATABASE=default
MYSQL_USER=default
MYSQL_PASSWORD=secret
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=root
MYSQL_ENTRYPOINT_INITDB=./mysql/docker-entrypoint-initdb.d
